<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">Brand</a>

      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <!-- Collapsible wrapper -->
      <div
        class="collapse navbar-collapse"
        id="navbarSupportedContent"
        mdbCollapse
      >
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/Home">Home</a>

          </li>
          <li class="nav-item">
           <a class="nav-link" routerLink="/Product">Products</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/User">User</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Posts">Posts</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Login">Login</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Register">Register</a>

          </li>
        </ul>
        <!-- Left links -->

        <!-- Search form -->
        <form class="d-flex input-group w-auto">
          <input
            type="search"
            class="form-control"
            placeholder="Type query"
            aria-label="Search"
          />
          <button class="btn btn-outline-primary" type="button">
            Search
          </button>
        </form>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  <!-- Bind button disabled state to `isUnchanged` property -->
  <br>
  <br>
<button type="button" [disabled]="isUnchanged">Disabled Button</button>
